td{
    vertical-align: middle !important;
}
/* CLASS */
.logoReduction{
    border-radius: 50px;
    height: 50px;
}
.nameCap::first-letter{
text-transform: uppercase;
}

.section{
    border-radius: 10px;
    box-shadow: 0 0 6px 1px silver;
}

.twitch-table{
    padding-top:100px;
}

.table-res{
    margin: auto;
}
