body{
    min-width: 360px;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif  !important;
}
td{
    vertical-align: middle !important;
}
strong{
    font-weight: 600 !important;
}
/* CLASS */
.container{
    overflow: hidden;
}
@media (max-width: 500px){
    .container{
        overflow-x: scroll;
    }    
}
.logoReduction{
    border-radius: 50px;
    height: 50px;
}
.navbar{
    border-radius: 5px !important;
    background-color: white !important;
    position: absolute;
    z-index: 2;
    width: 100%;
    box-shadow: 0 0 6px 1px silver;
}
.navbar-light .navbar-toggler {
    min-width: 0;
}
.nameCap::first-letter{
text-transform: uppercase;
}

.section{
    border-radius: 10px;
    box-shadow: 0 0 6px 1px silver;
}

.twitch-table{
    padding-top:100px;
    border-radius: 5px;
}

.table-res{
    margin: auto;
    border-radius: 5px;
    max-width: 100%;
}

.table-striped{
    border-radius: 5px;
    box-shadow: 0 2px 3px 1px silver;
}
/* ID */
#a9i{
    border-radius: 0 0 0 5px;
}
#a9f{
    border-radius: 0 0 5px 0;
}

#responsive-table {
    height: auto;
}